@page "/addproduct"
@attribute [Authorize(Policy = "AdminOnly")]

@using System.Text.Json;
@inject NavigationManager navManager
@inject IAddProductUseCase addProductUseCase
@inject IViewCategoriesUseCase viewCategoriesUseCase

<div class="wrapper">

    <h4 style="color: white">ADD NEW PRODUCT</h4>
    <br />

    @if (product != null)
    {
        <Form Model="product"
              LabelColSpan="32"
              WrapperColSpan="40">
            <FormItem Label="Name" LabelStyle="font-weight: 600; color: #cdcdcd; font-size: 30px">
                <Input @bind-Value="context.Name" Style="font-size:32px" />
            </FormItem>
            <FormItem Label="Category" LabelStyle="font-weight: 600; color: #cdcdcd; font-size: 30px">
                <Select Mode="default" DataSource="categories" Placeholder="Select a category" Style="font-size:30px"
                        @bind-Value="context.CategoryID" LabelName="@nameof(Category.Name)" ValueName="@nameof(Category.CategoryID)">
                </Select>
            </FormItem>
            <FormItem Label="Price" LabelStyle="font-weight: 600; color: #cdcdcd; font-size: 30px">
                <AntDesign.InputNumber @bind-Value="context.Price" @bind-Value:format="F2" Style="font-size:32px" />
            </FormItem>
            <FormItem Label="Quantity" LabelStyle="font-weight: 600; color: #cdcdcd; font-size: 30px">
                <AntDesign.InputNumber @bind-Value="context.Quantity" Style="font-size:32px" />
            </FormItem>
            <FormItem Label="Unit" LabelStyle="font-weight: 600; color: #cdcdcd; font-size: 30px">
                <Input @bind-Value="context.Unit" Style="font-size:32px" />
            </FormItem>
            <FormItem>
                <Button Type="button" Style="@ButtonType.Primary" Size="@ButtonSize.Large" OnClick="OnValidSumit">
                    Save
                </Button>
                <Button Type="button" Style="background-color: darkslategray; color: white" Size="@ButtonSize.Large" OnClick="OnCancel">
                    Cancel
                </Button>
            </FormItem>
        </Form>
    }
</div>

@code {

    Product product;
    IEnumerable<Category> categories;

    protected override void OnInitialized()
    {
        product = new Product();
        categories = viewCategoriesUseCase.Execute();
    }

    private void OnValidSumit()
    {
        addProductUseCase.Execute(product);
        navManager.NavigateTo("/products");
    }
    private void OnCancel()
    {
        navManager.NavigateTo("/products");
    }
}
