@page "/categories"
@attribute [Authorize(Policy = "AdminOnly")]

@inject IViewCategoriesUseCase iViewCategories
@inject IDeleteCategoryUseCase deleteCategoryUseCase
@inject NavigationManager navManager

<div class="wrapper">

    <h3 style="color: white">MANAGE CATEGORIES</h3>
    <br />

    @if (categories != null)
    {
        <table class="table table-bordered">
            <thead>
                <tr style="color: #cdcdcd; font-size: 27px">
                    <th>Name</th>
                    <th>Description</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in categories)
                {
                    <tr style="color: white; font-weight: 600; font-size: 22px">
                        <td>@item.Name</td>
                        <td>@item.Description</td>
                        <td>
                            <button type="button" @onclick="@(()=>OnClickEdit(item))" class="btn" style="background-color:darkslategray; color: white">Edit</button>
                        </td>
                        <td>
                            <button type="button" @onclick="@(()=>DeleteCategory(item))" class="btn btn-danger">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <Confirmation @ref="confirmation" onCancel="OnCancel" onConfirm="OnConfirm">
            <div style="font-size: 24px; color: blue">Do you want to delete <span style="color: darkred">@categoryToBeDeleted.Name</span> ?</div>
        </Confirmation>
    }

    <br />
    <button type="button" class="btn btn-primary" @onclick="OnClickAdd">Add Category</button>
</div>

@code {

    List<Category> categories;
    Category categoryToBeDeleted;

    Confirmation confirmation;

    protected override void OnInitialized()
    {
        LoadCategories();
    }

    void OnClickAdd()
    {
        navManager.NavigateTo("/addcategory");
    }
    void OnClickEdit(Category category)
    {
        navManager.NavigateTo($"/editcategory/{category.CategoryID}");
    }
    void DeleteCategory(Category category)
    {
        categoryToBeDeleted = category;
        confirmation.Show();
    }
    void OnConfirm()
    {
        deleteCategoryUseCase.Delete(categoryToBeDeleted);
        LoadCategories();

        confirmation.Hide();
        categoryToBeDeleted = null;
    }
    void OnCancel()
    {
        confirmation.Hide();
        categoryToBeDeleted = null;
    }
    void LoadCategories()
    {
        categories = iViewCategories.Execute()?.ToList();
    }
}
