@page "/transactions"
@attribute [Authorize(Policy = "AdminOnly")]

@inject IGetTransactionsUseCase getTransactionsUseCase 
@inject IJSRuntime jsRuntime

<div class="wrapper">
    <div class="row">
        <div class="col-3">
            <label for="cashier" style="font-weight: 600; color: white">CASHIER NAME</label>
            <input type="text" id="cashier" class="form-control" @bind-value="cashierName" />
        </div>
        <div class="col-3">
            <label for="startdate" style="font-weight: 600; color: white">START DATE</label>
            <input type="date" id="startdate" class="form-control" @bind-value="startDate" />
        </div>
        <div class="col-3">
            <label for="enddate" style="font-weight: 600; color: white">END DATE</label>
            <input type="date" id="enddate" class="form-control" @bind-value="endDate" />
        </div>
        <div class="col-2 mt-auto">
            <button type="button" class="btn btn-secondary mr-2" @onclick="LoadTransactions">Search</button>
            <button type="button" class="btn btn-secondary" @onclick="Print"><i class="fa-sharp fa-solid fa-print"></i></button>
        </div>
    </div>
    <br />

    @if (transactions != null)
    {
        <div id="printarea">
            <table class="table">
                <thead>
                    <tr style="color: #cdcdcd; font-size: 25px">
                        <th>Date Time</th>
                        <th>Product</th>
                        <th>Qty Before</th>
                        <th>Qty Sold</th>
                        <th>Unit</th>
                        <th>Sold Amt</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in transactions)
                    {
                        <tr style="color: white; font-weight:600; font-size: 23px">
                            <td>@item.TimeStamp.ToString("yyyy-MM-dd  hh:mm")</td>
                            <td>@item.ProductName</td>
                            <td>@item.BeforeQty</td>
                            <td>@item.SoldQty</td>
                            <td>@item.Unit</td>
                            <td style="text-align: right">@(item.SoldQty * item.Price) UZS</td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr style="color: white; font-weight:600; font-size: 23px">
                        <td colspan="4">&nbsp;</td>
                        <td style="text-align: right"><b>GRAND TOTAL :</b></td>
                        <td style="text-align: right"><b>@transactions.Sum(x => x.Price * x.SoldQty) UZS</b></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    }
</div>

@code {

    string cashierName;
    DateTime startDate;
    DateTime endDate;

    IEnumerable<Transaction> transactions;

    protected override void OnInitialized()
    {
        startDate = DateTime.Today;
        endDate = DateTime.Today;        
    }

    void LoadTransactions()
    {
        transactions = getTransactionsUseCase.Execute(cashierName, startDate, endDate);
    }
    void Print()
    {
        jsRuntime.InvokeVoidAsync("print");
    }
}
